<div class="dashboard-landing-container">
  <div class="dashboard-landing-content">
    <div>
      <div class="action-preview"> 
        <p-card header="Simple Card">
          <p class="m-0">
            Lorem ipsum dolor sit amet...
          </p>
        </p-card>
      </div>
      <div class="action-preview"> 
        <p-card header="Simple Card">
          <p class="m-0">
            Lorem ipsum dolor sit amet...
          </p>
        </p-card>
      </div>
    </div>
    <div>
      <div class="action-preview"> 
        <p-card header="Simple Card">
          <p class="m-0">
            Lorem ipsum dolor sit amet...
          </p>
        </p-card>
      </div>
      <div class="action-preview"> 
        <p-card header="Simple Card">
          <p class="m-0">
            Lorem ipsum dolor sit amet...
          </p>
        </p-card>
      </div>
    </div>

  </div>
</div>