<div class="login-wrapper">
  <div class="login-card">
    <h2>Login</h2>

    <div class="p-field">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="username" placeholder="Enter your username" />
    </div>

    <div class="p-field">
      <label for="password">Password</label>
      <div class="w-100">
        <p-password [(ngModel)]="password" inputId="password" [feedback]="false" placeholder="Enter your password"></p-password>
      </div>
    </div>

    <button pButton type="button" label="Login" class="p-button-primary p-mt-3" (click)="login()"></button>

    <div class="register-link-wrapper">
      <a [routerLink]="['/user/register']" class="register-link">New application?</a>
    </div>
  </div>
</div>
